*{
    
    --aquamarine: #85ffc7ff;
    --skobeloff: #297373ff;
    --coral: #c1571c;
    --platinum: #e6e6e6ff;
    font-family: 'Ubuntu', sans-serif;
    margin:0px;
    font-size:24px;
    color:var(--platinum);

}

body{
    margin:0px;
    /*background-color: var(--skobeloff);*/
    background-image: url("https://image.tmdb.org/t/p/original/mMP5otHjSzDYSMpOdqy8bO3Avks.jpg");
}

p.titre{
    text-align: center;
    font-size:65px;
    padding-top: 16px;
}
p.newhr{
    text-align: center;
    font-size: 25px;
    padding:0px;
    margin-bottom: 30px;

}
p.user{
    text-align: left;
}

/*Main table section*/
table.main{
    width: 80%;
    margin-left:10%;
    margin-right:10%;
}

/*Def box section*/
td.td-box{
    width:80%;
    padding:0%;
    margin-left:15%;
    margin-right:15%;
    background-color: var(--coral);
}

/*div.box{
    margin-left:0%;
    margin-right:15%;
    background-color: var(--coral);
}*/

div.meta{
    display:grid;
    border: solid 1px;
}
img.preview{
    max-width: 12em;
    height : auto;
    /*display:inline-block;*/
    display:grid;
}
p.film-titre{
    text-align: center;
    font-size:45px;
    display:inline-block;
}

/*Div de la description*/
td.description{
    width:100%;
}

/*div.description{
    border: solid 1px;
    margin-left:3em
}*/
p.align{
    display:inline-block;
}